<section>
  <div class="search_body clearfix">
    <div class="result_count">検索結果（全<%= @search_contents_count.count %>件中 1 ~ <%= @search_contents.count %>件 )</div>
    <div class="search_container">
      <div class="search_content">
        <% @search_contents.each do |s| %>
        <div class="search_results">
         <div class="search_contents_image" style="background-image:url(<%= s.image_urls %>)"></div>
         <div class="search_contents_title">
           <%= s.title %>
         </div>
        </div>
        <% end %>
      </div>
      <%= paginate(@search_contents) %>
    </div>
    <div class="article_sidebar">
      <div class="search_ad">
      </div>
      <div class="article_ranking">
        <h5 class="ranking_h5">アクセスランキング</h5>
          <% @ranking.each.with_index(1) do |content, i| %>
          <div class="ranking_list clearfix">
          <a href="/contents/<%= content.id %>">
            <div class="ranking_image" style="background-image:url('<%= content.image_urls %>')">
              <div class="ranking_number">
                <%= i %>
              </div>
            </div>
          </a>
          <div class="ranking_title">
            <a href="/contents/<%= content.id %>">
             <%= content.title %>
            </a>
          </div>
        </div>
        <% end %>
      </div>
      <div class="article_recommended">
        <h5 class="article_recommended_title">オススメ記事</h5>
          <% @recommended.each do |recommend| %>
          <div class="article_recommended_list clearfix">
            <div class="article_recommended_image" style="background-image:url('<%= recommend.image_urls %>')" >
              <a href="/contents/<%= recommend.id %>"></a>
            </div>
            <div class="article_recommended_text">
              <a href="/contents/<%= recommend.id %>">
               <%= recommend.title %>
              </a>
            </div>
          </div>
          <% end %>
      </div>
      <div class="article_popular_tag">
        <% @tags.each do |tag| %>
          <div class="tag_name">
            <%= tag.name %>
          </div>
        <% end %>
      </div>
      <div class="fb-page" data-href="https://www.facebook.com/STORY-1548362218749541/?fref=ts" data-tabs="timeline" data-height="210" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      </div>
    </div>
  </div>
</section>
